:root {
  --font-family: "Montserrat", sans-serif;
  --font-weight: normal;
  --font-size: 16px;
  --line-height: 122%;
  --content-width: 1514px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --base-white: #FFFFFF;
  --base-black: #000000;
  --base-grey: #212121;
  --grey-900: #1F2937;
  --grey-800: #374151;
  --grey-600: #4B5563;
  --grey-500: #6D7280;
  --grey-400: #9CA3AF;
  --grey-300: #D2D5DA;
  --grey-200: #E5E7EB;
  --grey-100: #F3F4F6;
  --cyan-500: #00E3AA;
  --cyan-400: #1DE9B6;
  --cyan-300: #46EDC3;
  --cyan-200: #75F1D2;
  --blue-500: #0F6CE3;
  --blue-400: #2E80E9;
  --blue-300: #5497ED;
  --blue-200: #7FB1F1;
  --yellow-500: #FF9E00;
  --yellow-400: #FFAA20;
  --yellow-300: #FFBB4C;
  --yellow-200: #FFCD7C;
  --orange-500: #FF5F00;
  --orange-400: #FF7320;
  --orange-300: #FF8E4C;
  --orange-200: #FFAC7C;
  --red-500: #FC003F;
  --red-400: #FF245B;
  --red-300: #FF507C;
  --red-200: #FF81A1;
  --shadow-1: 0px 6px 14px -6px rgba(70, 99, 92, 0.12), 0px 10px 32px -4px rgba(70, 99, 92, 0.1);
  --shadow-2: 0px 8px 18px -6px rgba(70, 99, 92, 0.12), 0px 12px 42px -4px rgba(70, 99, 92, 0.12);
  --shadow-3: 0px 8px 22px -6px rgba(70, 99, 92, 0.12), 0px 14px 64px -4px rgba(70, 99, 92, 0.12);
  --shadow-4: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(70, 99, 92, 0.14);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratThin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
  font-style: thin;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: extralight;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: light;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: medium;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: semibold;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: extrabold;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: bllack;
}
@font-face {
  font-family: "icons";
  src: url("../iconsfont/icons.ttf?rrentg") format("truetype"), url("../iconsfont/icons.woff?rrentg") format("woff"), url("../iconsfont/icons.svg?rrentg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-ArrowDown:before {
  content: "\e978";
}

._icon-ArrowDownLeft:before {
  content: "\e979";
}

._icon-ArrowDownRight:before {
  content: "\e97a";
}

._icon-ArrowLeft:before {
  content: "\e97b";
}

._icon-ArrowRight:before {
  content: "\e97c";
}

._icon-ArrowUp:before {
  content: "\e97d";
}

._icon-ArrowUpLeft:before {
  content: "\e97e";
}

._icon-ArrowUpRight:before {
  content: "\e97f";
}

._icon-Attach:before {
  content: "\e980";
}

._icon-Attention:before {
  content: "\e981";
}

._icon-Bell:before {
  content: "\e982";
}

._icon-Bookmark:before {
  content: "\e983";
}

._icon-Calendar:before {
  content: "\e984";
}

._icon-Call:before {
  content: "\e985";
}

._icon-CallIn:before {
  content: "\e986";
}

._icon-CallOut:before {
  content: "\e987";
}

._icon-Cancel:before {
  content: "\e988";
}

._icon-CancelCircle:before {
  content: "\e989";
}

._icon-Card:before {
  content: "\e98a";
}

._icon-ChartBar:before {
  content: "\e98b";
}

._icon-Check:before {
  content: "\e98c";
}

._icon-CheckCircle:before {
  content: "\e98d";
}

._icon-CheckList:before {
  content: "\e98e";
}

._icon-ChevronDown:before {
  content: "\e98f";
}

._icon-ChevronLeft:before {
  content: "\e990";
}

._icon-ChevronRight:before {
  content: "\e991";
}

._icon-ChevronUp:before {
  content: "\e992";
}

._icon-Close:before {
  content: "\e993";
}

._icon-Cloud:before {
  content: "\e994";
}

._icon-Code:before {
  content: "\e995";
}

._icon-Collapse:before {
  content: "\e996";
}

._icon-Comment:before {
  content: "\e997";
}

._icon-Copy:before {
  content: "\e998";
}

._icon-Download:before {
  content: "\e999";
}

._icon-Draft:before {
  content: "\e99a";
}

._icon-Drag:before {
  content: "\e99b";
}

._icon-Edit:before {
  content: "\e99c";
}

._icon-Expand:before {
  content: "\e99d";
}

._icon-External:before {
  content: "\e99e";
}

._icon-EyeClosed:before {
  content: "\e99f";
}

._icon-EyeOpen:before {
  content: "\e9a0";
}

._icon-File:before {
  content: "\e9a1";
}

._icon-Filter:before {
  content: "\e9a2";
}

._icon-Flag:before {
  content: "\e9a3";
}

._icon-Folder:before {
  content: "\e9a4";
}

._icon-Heart:before {
  content: "\e9a5";
}

._icon-Info:before {
  content: "\e9a6";
}

._icon-Link:before {
  content: "\e9a7";
}

._icon-Lock:before {
  content: "\e9a8";
}

._icon-Mail:before {
  content: "\e9a9";
}

._icon-Minus:before {
  content: "\e9aa";
}

._icon-MinusCircle:before {
  content: "\e9ab";
}

._icon-Mobile:before {
  content: "\e9ac";
}

._icon-MoreVer:before {
  content: "\e9ad";
}

._icon-Pause:before {
  content: "\e9ae";
}

._icon-Picture:before {
  content: "\e9af";
}

._icon-Pin:before {
  content: "\e9b0";
}

._icon-Play:before {
  content: "\e9b1";
}

._icon-Plus:before {
  content: "\e9b2";
}

._icon-Redo:before {
  content: "\e9b3";
}

._icon-search:before {
  content: "\e9b4";
}

._icon-Settings:before {
  content: "\e9b5";
}

._icon-SortDown:before {
  content: "\e9b6";
}

._icon-SortUp:before {
  content: "\e9b7";
}

._icon-Sound:before {
  content: "\e9b8";
}

._icon-SoundOff:before {
  content: "\e9b9";
}

._icon-Star:before {
  content: "\e9ba";
}

._icon-Stop:before {
  content: "\e9bb";
}

._icon-Subitem:before {
  content: "\e9bc";
}

._icon-Time:before {
  content: "\e9bd";
}

._icon-ToggleOff:before {
  content: "\e9be";
}

._icon-ToggleOn:before {
  content: "\e9bf";
}

._icon-Tooltip:before {
  content: "\e9c0";
}

._icon-Trash:before {
  content: "\e9c1";
}

._icon-tuiIconRefresh:before {
  content: "\e9c2";
}

._icon-Undo:before {
  content: "\e9c3";
}

._icon-Upload:before {
  content: "\e9c4";
}

._icon-User:before {
  content: "\e9c5";
}

._icon-Users:before {
  content: "\e9c6";
}

._icon-Video:before {
  content: "\e9c7";
}

._icon-AlertCircleLarge:before {
  content: "\e900";
}

._icon-AlignCenterLarge:before {
  content: "\e901";
}

._icon-AlignJustifyLarge:before {
  content: "\e902";
}

._icon-AlignLeftLarge:before {
  content: "\e903";
}

._icon-AlignRightLarge:before {
  content: "\e904";
}

._icon-ArrowDownLarge:before {
  content: "\e905";
}

._icon-ArrowLeftLarge:before {
  content: "\e906";
}

._icon-ArrowRightLarge:before {
  content: "\e907";
}

._icon-ArrowUpLarge:before {
  content: "\e908";
}

._icon-AttachLarge:before {
  content: "\e909";
}

._icon-BackCircleLarge:before {
  content: "\e90a";
}

._icon-BellLarge:before {
  content: "\e90b";
}

._icon-BoldLarge:before {
  content: "\e90c";
}

._icon-BookmarkLarge:before {
  content: "\e90d";
}

._icon-CalendarLarge:before {
  content: "\e90e";
}

._icon-CallInLarge:before {
  content: "\e90f";
}

._icon-CallLarge:before {
  content: "\e910";
}

._icon-CallOutLarge:before {
  content: "\e911";
}

._icon-CallTransferLarge:before {
  content: "\e912";
}

._icon-CameraLarge:before {
  content: "\e913";
}

._icon-CancelCircleLarge:before {
  content: "\e914";
}

._icon-CardsLarge:before {
  content: "\e915";
}

._icon-ChartLarge:before {
  content: "\e916";
}

._icon-ChartLineLarge:before {
  content: "\e917";
}

._icon-CheckCircleLarge:before {
  content: "\e918";
}

._icon-CheckLarge:before {
  content: "\e919";
}

._icon-ChevronDownLarge:before {
  content: "\e91a";
}

._icon-ChevronLeftLarge:before {
  content: "\e91b";
}

._icon-ChevronRightLarge:before {
  content: "\e91c";
}

._icon-ChevronUpLarge:before {
  content: "\e91d";
}

._icon-ClearFormatLarge:before {
  content: "\e91e";
}

._icon-CloseCircleLarge:before {
  content: "\e91f";
}

._icon-CloseLarge:before {
  content: "\e920";
}

._icon-CodeLarge:before {
  content: "\e921";
}

._icon-ColorLarge .path1:before {
  content: "\e922";
  color: rgb(196, 196, 196);
}

._icon-ColorLarge .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

._icon-CommentLarge:before {
  content: "\e924";
}

._icon-CompanyLarge:before {
  content: "\e925";
}

._icon-CopyLarge:before {
  content: "\e926";
}

._icon-DeleteLarge:before {
  content: "\e927";
}

._icon-DesktopLarge:before {
  content: "\e928";
}

._icon-DislikeLarge:before {
  content: "\e929";
}

._icon-DownloadLarge:before {
  content: "\e92a";
}

._icon-DragLarge:before {
  content: "\e92b";
}

._icon-EditLarge:before {
  content: "\e92c";
}

._icon-ExternalLarge:before {
  content: "\e92d";
}

._icon-FileLarge:before {
  content: "\e92e";
}

._icon-FlagLarge:before {
  content: "\e92f";
}

._icon-FolderLarge:before {
  content: "\e930";
}

._icon-FontLarge:before {
  content: "\e931";
}

._icon-FormatLarge:before {
  content: "\e932";
}

._icon-FrameLarge:before {
  content: "\e933";
}

._icon-GeoLarge:before {
  content: "\e934";
}

._icon-HeartLarge:before {
  content: "\e935";
}

._icon-HelpCircleLarge:before {
  content: "\e936";
}

._icon-HideLarge:before {
  content: "\e937";
}

._icon-HiliteLarge .path1:before {
  content: "\e938";
  color: rgb(246, 246, 246);
}

._icon-HiliteLarge .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(215, 215, 215);
}

._icon-HiliteLarge .path3:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

._icon-House:before {
  content: "\e93b";
}

._icon-HrLarge:before {
  content: "\e93c";
}

._icon-ImgLarge:before {
  content: "\e93d";
}

._icon-IndentLarge:before {
  content: "\e93e";
}

._icon-InfoCircleLarge:before {
  content: "\e93f";
}

._icon-ItalicLarge:before {
  content: "\e940";
}

._icon-LikeLarge:before {
  content: "\e941";
}

._icon-LinkLarge:before {
  content: "\e942";
}

._icon-LockLarge:before {
  content: "\e943";
}

._icon-LockOpenLarge:before {
  content: "\e944";
}

._icon-LoginLarge:before {
  content: "\e945";
}

._icon-LogoutLarge:before {
  content: "\e946";
}

._icon-MailLarge:before {
  content: "\e947";
}

._icon-MenuLarge:before {
  content: "\e948";
}

._icon-MicLarge:before {
  content: "\e949";
}

._icon-MicOffLarge:before {
  content: "\e94a";
}

._icon-MinusLarge:before {
  content: "\e94b";
}

._icon-MobileLarge:before {
  content: "\e94c";
}

._icon-MoreHorLarge:before {
  content: "\e94d";
}

._icon-MoreVertLarge:before {
  content: "\e94e";
}

._icon-MusicLarge:before {
  content: "\e94f";
}

._icon-OLLarge:before {
  content: "\e950";
}

._icon-Options:before {
  content: "\e951";
}

._icon-OutdentLarge:before {
  content: "\e952";
}

._icon-PauseLarge:before {
  content: "\e953";
}

._icon-PiechartLarge:before {
  content: "\e954";
}

._icon-PlayLarge:before {
  content: "\e955";
}

._icon-PlusCircleLarge:before {
  content: "\e956";
}

._icon-PrintLarge:before {
  content: "\e957";
}

._icon-QuoteLarge:before {
  content: "\e958";
}

._icon-RedoLarge:before {
  content: "\e959";
}

._icon-RefreshLarge:before {
  content: "\e95a";
}

._icon-RemoveLarge:before {
  content: "\e95b";
}

._icon-SearchLarge:before {
  content: "\e95c";
}

._icon-SettingsLarge:before {
  content: "\e95d";
}

._icon-ShowLarge:before {
  content: "\e95e";
}

._icon-SoundLarge:before {
  content: "\e95f";
}

._icon-SoundOffLarge:before {
  content: "\e960";
}

._icon-StarLarge:before {
  content: "\e961";
}

._icon-StopLarge:before {
  content: "\e962";
}

._icon-StrikeThroughLarge:before {
  content: "\e963";
}

._icon-StructureLarge:before {
  content: "\e964";
}

._icon-SubscriptLarge:before {
  content: "\e965";
}

._icon-SuperscriptLarge:before {
  content: "\e966";
}

._icon-TeXLarge:before {
  content: "\e967";
}

._icon-TimeLarge:before {
  content: "\e968";
}

._icon-ToggleOffLarge:before {
  content: "\e969";
}

._icon-ToggleOnLarge:before {
  content: "\e96a";
}

._icon-TooltipLarge:before {
  content: "\e96b";
}

._icon-TransparentLarge:before {
  content: "\e96c";
}

._icon-TrashLarge:before {
  content: "\e96d";
}

._icon-tuiIconFilterLarge:before {
  content: "\e96e";
}

._icon-tuiIconSublevelLarge:before {
  content: "\e96f";
}

._icon-tuiIconUndoLarge:before {
  content: "\e970";
}

._icon-UnderlineLarge:before {
  content: "\e971";
}

._icon-UploadLarge:before {
  content: "\e972";
}

._icon-VideoLarge:before {
  content: "\e973";
}

._icon-ViewListLarge:before {
  content: "\e974";
}

._icon-WarningLarge:before {
  content: "\e975";
}

._icon-WifiOffLarge:before {
  content: "\e976";
}

._icon-WifiOnLarge:before {
  content: "\e977";
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-moz-selection {
  background-color: var(--cyan-400);
  color: var(--base-white);
}

::selection {
  background-color: var(--cyan-400);
  color: var(--base-white);
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-size: 16px;
  color: var(--base-black);
  line-height: var(--line-height);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  background-color: var(--grey-100);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  min-height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title1 {
  font-weight: 700;
  font-size: 48px;
  color: var(--base-grey);
  line-height: var(--line-height);
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .title1 {
    font-size: 42px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .title1 {
    font-size: 36px;
  }
}
@media (max-width: 575.98px) {
  .title1 {
    font-size: 32px;
  }
}

.title2 {
  font-weight: 700;
  font-size: 24px;
  color: var(--base-grey);
  line-height: var(--line-height);
  margin-bottom: 20px;
}
@media (max-width: 400px) {
  .title2 {
    font-size: 20px;
  }
}

.title3 {
  font-weight: 500;
  font-size: 24px;
  color: var(--base-black);
  line-height: var(--line-height);
}
@media (max-width: 400px) {
  .title3 {
    font-size: 20px;
  }
}

.title4 {
  font-weight: 600;
  font-size: 24px;
  color: var(--base-black);
  line-height: var(--line-height);
}
@media (max-width: 400px) {
  .title4 {
    font-size: 20px;
  }
}

.descr2 {
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-height);
  color: var(--base-black);
}

.date {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--grey-500);
}
@media (max-width: 575.98px) {
  .date {
    font-size: 15px;
  }
}

.form-input {
  padding: 18px 40px 18px 12px;
  border-radius: 6px;
  width: 100%;
  height: 56px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--base-black);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none !important;
  border: none;
  border: 1px solid #E2E2E2;
  display: block;
  background-color: #F8F8F8;
}
.form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.24px;
  color: #92969D;
}
.form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.24px;
  color: #92969D;
}
.form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.24px;
  color: #92969D;
}
.form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.24px;
  color: #92969D;
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.24px;
  color: #92969D;
}
.form-input:focus {
  border: 1px solid var(--cyan-400);
}
@media (max-width: 768px) {
  .form-input {
    padding: 14px 40px 14px 12px;
    height: 44px;
    font-size: 15px;
  }
}
.form-btn {
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
  padding: 18px 36px;
  border-radius: 8px;
  height: 56px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--base-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--grey-200);
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.form-btn:hover {
  background-color: var(--cyan-400);
}
@media (max-width: 768px) {
  .form-btn {
    padding: 14px 28px;
    height: 44px;
    font-size: 15px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: var(--base-grey);
}
@media (max-width: 768px) {
  .btn {
    font-size: 14px;
  }
}

.fill {
  background-color: var(--cyan-400);
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.fill:hover {
  background-color: var(--cyan-200);
}

.secondary {
  background-color: var(--grey-200);
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.secondary:hover {
  background-color: var(--cyan-400);
}

.big {
  padding: 18px 36px;
}
@media (max-width: 768px) {
  .big {
    padding: 14px 28px;
  }
}

.medium {
  padding: 12px 24px;
}
@media (max-width: 768px) {
  .medium {
    padding: 9px 18px;
  }
}

.small {
  padding: 8px 12px;
}

.link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0;
  padding: 12px 0;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.link i {
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 1px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.link:hover {
  color: var(--cyan-400);
}
.link:hover i {
  color: var(--cyan-400);
}

.border {
  border: 2px solid var(--cyan-500);
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.border:hover {
  color: var(--cyan-500);
}

.header {
  top: 0;
  left: 0;
  right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 100;
  background-color: var(--base-black);
}
@media (max-width: 991.98px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header__container {
  margin: 0 auto;
  margin-left: 85px;
  margin-right: 190px;
  padding: 0 var(--container-offset);
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1800px) {
  .header__container {
    max-width: 1646px;
    margin: 0 auto;
  }
}
.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 8px;
}
.header__profile img {
  padding: 2px;
  border-radius: 50%;
  margin-right: 10px;
  background: -o-linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgb(29, 233, 182) 24%, rgb(0, 0, 0) 100%);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgb(29, 233, 182) 24%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99000000", endColorstr="#000000", GradientType=1);
}
.header__profile:hover .header__name {
  color: var(--cyan-400);
}
.header__name {
  width: 116px;
  font-weight: 600;
  font-size: 12px;
  color: var(--base-white);
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.header .logo {
  width: 172px;
}
.header .logo img {
  display: block;
}
@media (max-width: 1200px) {
  .header .logo {
    width: auto;
  }
}
@media (max-width: 991.98px) {
  .header .logo img {
    width: 63px;
    height: 39px;
  }
}
@media (max-width: 575.98px) {
  .header .logo img {
    width: 57px;
    height: 34px;
  }
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .nav__item:not(:last-child) {
  margin-right: 40px;
}
.header .nav__link {
  font-weight: 600;
  font-size: 16px;
  color: var(--base-white);
  padding: 0;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.header .nav__link:hover {
  color: var(--cyan-400);
}
@media (max-width: 1100px) {
  .header .nav__link {
    font-size: 14px;
  }
}
.header .nav .active {
  color: var(--cyan-400);
}
@media (max-width: 991.98px) {
  .header .nav {
    position: fixed;
    right: 0;
    top: 58px;
    z-index: 500;
    overflow-y: auto;
    margin: 0 auto;
    width: 334px;
    height: 100vh;
    background-color: var(--base-grey);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  }
  .header .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }
  .header .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 45px;
  }
  .header .nav__link {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .header .nav {
    width: 320px;
  }
}
.header .burger {
  --burger-width: 26px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--base-white);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  z-index: 501;
}
.header .burger:hover {
  color: var(--cyan-400);
}
.header .burger::before, .header .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  border-radius: 10px;
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger::before {
  top: 0;
}
.header .burger::after {
  top: calc(100% - var(--burger-line-height));
}
.header .burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  border-radius: 10px;
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (min-width: 992px) {
  .header .burger {
    display: none;
  }
}
.header .menu--active {
  opacity: 1;
  visibility: visible;
}

.news .slick-slider, .events .slick-slider {
  border-radius: 8px;
}
.news .slick-dotted.slick-slider, .events .slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}
.news-slider-nav, .events-slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 40px auto 20px auto;
}
@media (max-width: 1200px) {
  .news-slider-nav, .events-slider-nav {
    margin: 20px auto 10px auto;
  }
}
@media (max-width: 575.98px) {
  .news-slider-nav, .events-slider-nav {
    margin: 10px auto 0px auto;
  }
}
.news .slider-btn, .events .slider-btn {
  width: 24px;
  height: 24px;
}
.news .slider-btn i, .events .slider-btn i {
  font-size: 24px;
  color: var(--base-black);
  line-height: 24px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.news .slider-btn:hover i, .events .slider-btn:hover i {
  color: var(--cyan-400);
}
.news .slider-btn:disabled, .events .slider-btn:disabled {
  opacity: 0.2;
}
.news .slider-btn:disabled :hover, .events .slider-btn:disabled :hover {
  color: var(--base-black);
}
.news .prev, .events .prev {
  margin-right: 4px;
}
.news .next, .events .next {
  margin-left: 4px;
}
.news .slider__dots, .events .slider__dots {
  position: relative;
}
.news-slider__dots-list, .events-slider__dots-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.news-slider__dots-list li, .events-slider__dots-list li {
  cursor: pointer;
  position: relative;
  z-index: 0;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0 10px;
  min-width: 32px;
  height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  color: var(--base-black);
  text-align: center;
  border-radius: 50%;
  opacity: 1;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.news-slider__dots-list li:hover, .events-slider__dots-list li:hover {
  background-color: var(--cyan-200);
}
.news-slider__dots-list li.slick-active, .events-slider__dots-list li.slick-active {
  color: var(--base-black);
  background-color: var(--cyan-400);
}

.main {
  padding-top: 72px;
}
@media (max-width: 1024px) {
  .main {
    padding-top: 52px;
  }
}
.main__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
  grid-template-columns: 80% 20%;
}
@media (max-width: 1300px) {
  .main__container {
    -ms-grid-columns: 75% 25%;
    grid-template-columns: 75% 25%;
  }
}
@media (max-width: 1024px) {
  .main__container {
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
  }
}
.main .column__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 1206px;
  flex: 0 1 1206px;
}
.main .column__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 287px;
  flex: 0 0 287px;
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .main .column__right {
    margin-left: 0;
  }
}

.news {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  background-color: #FFFFFF;
  margin-bottom: 40px;
}
.news .slide img {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  display: block;
  width: 247px;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1500px) {
  .news .slide img {
    width: 180px;
  }
}
@media (max-width: 1300px) {
  .news .slide img {
    display: none;
  }
}
.news__slider {
  margin: -10px -10px;
}
.news__slide {
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--grey-200);
  border-radius: 8px;
  background-color: #FFFFFF;
}
.news__content {
  padding: 20px;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.news__content .title3 {
  margin-bottom: 8px;
}
.news__content .date {
  margin-bottom: 12px;
}
@media (max-width: 575.98px) {
  .news__content .date {
    margin-bottom: 8px;
  }
}
.news__content .descr2 {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .news__content .descr2 {
    margin-bottom: 12px;
  }
}
@media (max-width: 575.98px) {
  .news__content .descr2 {
    font-size: 15px;
  }
}
.news__content .image {
  height: 100%;
}
.news__btn {
  margin-top: auto;
}

.birthday {
  margin-bottom: 40px;
}
.birthday .title2 {
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .birthday .title2 {
    margin-bottom: 20px;
  }
}
.birthday__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .birthday__cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 575.98px) {
  .birthday__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .birthday__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.birthday__card {
  padding: 20px;
  border-radius: 16px;
  background-color: #FFFFFF;
}
.birthday__card .image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}
@media (max-width: 1300px) {
  .birthday__card .image {
    margin-bottom: 12px;
  }
}
@media (max-width: 360px) {
  .birthday__card .image {
    height: 240px;
  }
}
.birthday__card .title3 {
  margin-bottom: 8px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (max-width: 1300px) {
  .birthday__card .title3 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .birthday__card .title3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.birthday__card .descr2 {
  color: var(--grey-500);
}
.birthday__card a:hover .title3 {
  color: var(--cyan-400);
}
.birthday__btn {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.birthday__btn a {
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hi {
  margin-bottom: 40px;
}
.hi__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 575.98px) {
  .hi__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.hi__card {
  padding: 20px;
  border-radius: 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--base-white);
}
.hi__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .hi__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 12px;
  }
}
.hi__main .image {
  min-width: 246px;
  max-width: 246px;
  height: 200px;
  border-radius: 8px;
  margin-right: 20px;
}
@media (max-width: 1400px) {
  .hi__main .image {
    min-width: 170px;
    max-width: 170px;
    height: 200px;
  }
}
@media (max-width: 1200px) {
  .hi__main .image {
    min-width: 130px;
    max-width: 130px;
    height: 160px;
  }
}
@media (max-width: 768px) {
  .hi__main .image {
    width: 100%;
    max-width: 100%;
    height: 220px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .hi__main .image {
    height: 290px;
  }
}
@media (max-width: 360px) {
  .hi__main .image {
    height: 240px;
  }
}
.hi__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--base-black);
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .hi__name {
    margin-bottom: 12px;
  }
}
.hi__group-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: var(--base-grey);
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .hi__group-title {
    margin-bottom: 5px;
  }
}
.hi__group-text {
  font-weight: 500;
  font-size: 14px;
  color: var(--grey-500);
}
.hi__group:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .hi__group:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media (max-width: 768px) {
  .hi__group:not(:last-child) {
    margin-bottom: 8px;
  }
}
.hi__descr {
  font-weight: 500;
  font-size: 16px;
  color: var(--grey-500);
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .hi__descr {
    font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  .hi__descr {
    font-size: 15px;
    margin-bottom: 16px;
  }
}
.hi__btn {
  margin-top: auto;
}

.graph-modal__close {
  right: -38px;
  top: 10px;
  width: 28px;
  height: 28px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: var(--base-white);
  border-radius: 100%;
  background-color: var(--grey-500);
}
@media (max-width: 768px) {
  .graph-modal__close {
    right: 15px;
    top: -45px;
  }
}
@media (max-width: 575.98px) {
  .graph-modal__close {
    right: 20px;
    top: 20px;
  }
}
@media (max-width: 370px) {
  .graph-modal__close {
    right: 15px;
    top: -45px;
  }
}

.graph-modal__container {
  padding: 0;
  max-width: 622px;
}

@media (max-width: 575.98px) {
  .graph-modal__content .hi__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .graph-modal__content .hi__main .image {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .graph-modal__content .hi__descr {
    font-size: 15px;
  }
}
@media (max-width: 370px) {
  .graph-modal__content {
    font-size: 14px;
  }
}
.graph-modal__content .hi__descr {
  margin-bottom: 0;
}

.events {
  margin-bottom: 40px;
}
.events__slider {
  margin: -10px -10px;
}
.events .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.events__slide {
  overflow: hidden;
  padding: 20px;
  position: relative;
  margin: 10px 10px;
  border-radius: 8px;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.events__slide:hover::before {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.events__slide:hover::after {
  opacity: 0.8;
}
.events__slide::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/events/events-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  z-index: -1;
  background-color: var(--grey-500);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
.events__slide::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
  background-color: var(--base-black);
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.events .date {
  color: var(--base-white);
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .events .date {
    margin-bottom: 12px;
  }
}
.events .title4 {
  min-height: 118px;
  display: block;
  display: -webkit-box;
  max-width: 284px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: var(--base-white);
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .events .title4 {
    max-width: 400px;
    min-height: auto;
    margin-bottom: 16px;
    font-size: 22px;
  }
}
@media (max-width: 575.98px) {
  .events .title4 {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .events .title4 {
    font-size: 18px;
  }
}
.events__btn {
  margin-top: auto;
}

@media (max-width: 1024px) {
  .vacancy {
    margin-bottom: 40px;
  }
}
.vacancy__cards {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--base-white);
}
.vacancy__card {
  padding-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
}
.vacancy__card:not(:last-child) {
  margin-bottom: 20px;
}
.vacancy__card a:hover h3 {
  color: var(--cyan-400);
}
.vacancy__title {
  font-weight: 600;
  font-size: 16px;
  color: var(--base-black);
  margin-bottom: 10px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (max-width: 575.98px) {
  .vacancy__title {
    margin-bottom: 6px;
  }
}
.vacancy__city {
  font-weight: 600;
  font-size: 14px;
  color: var(--grey-500);
  margin-bottom: 10px;
}
@media (max-width: 575.98px) {
  .vacancy__city {
    margin-bottom: 6px;
  }
}
.vacancy__pay {
  font-weight: 500;
  font-size: 14px;
  color: var(--grey-500);
  margin-bottom: 10px;
}
@media (max-width: 575.98px) {
  .vacancy__pay {
    margin-bottom: 6px;
  }
}
.vacancy__pay span {
  font-weight: 600;
  color: var(--base-black);
}
.vacancy__info {
  font-weight: 600;
  font-size: 14px;
  color: var(--base-black);
}
.vacancy__btn {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.vacancy__btn a {
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  padding: 16px 0 12px;
  background: #171717;
  background: -webkit-gradient(linear, left top, right top, color-stop(45%, #171717), to(#1de9b6));
  background: -o-linear-gradient(left, #171717 45%, #1de9b6 100%);
  background: linear-gradient(to right, #171717 45%, #1de9b6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#171717", endColorstr="#1de9b6", GradientType=1);
}
@media (max-width: 768px) {
  .footer {
    padding: 12px 0 10px;
  }
}
@media (max-width: 575.98px) {
  .footer {
    padding: 7px 0 6px;
  }
}
.footer::before {
  position: absolute;
  content: "";
  top: 50%;
  right: -110px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 398px;
  height: 232px;
  background-image: url("../img/footer-decor.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 575.98px) {
  .footer::before {
    width: 255px;
    height: 148px;
    right: -50px;
    opacity: 0.5;
  }
}
@media (max-width: 400px) {
  .footer::before {
    width: 189px;
    height: 110px;
    right: -50px;
    opacity: 0.3;
  }
}
.footer__logo {
  margin-left: 16px;
}
@media (max-width: 991.98px) {
  .footer__logo {
    margin-left: 0;
  }
  .footer__logo img {
    width: 80px;
  }
}
@media (max-width: 768px) {
  .footer__logo img {
    width: 64px;
  }
}
@media (max-width: 575.98px) {
  .footer__logo img {
    width: 50px;
  }
}

.breadcrumb {
  margin-bottom: 24px;
}
@media (max-width: 575.98px) {
  .breadcrumb {
    margin-bottom: 12px;
  }
}
.breadcrumb p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-400);
}
.breadcrumb a {
  color: var(--grey-400);
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.breadcrumb a:hover {
  color: var(--cyan-400);
}
.breadcrumb .active {
  color: var(--grey-700);
}

.about {
  padding-bottom: 72px;
}
@media (max-width: 1024px) {
  .about {
    padding-bottom: 52px;
  }
}
@media (max-width: 768px) {
  .about .title1 {
    margin-bottom: 24px;
  }
}
@media (max-width: 575.98px) {
  .about .title1 {
    margin-bottom: 16px;
  }
}
.about .content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--base-black);
}
@media (max-width: 768px) {
  .about .content p {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .about .content p {
    font-size: 16px;
  }
}

.search {
  padding-bottom: 72px;
}
@media (max-width: 1024px) {
  .search {
    padding-bottom: 52px;
  }
}
.search h1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.15px;
  color: #7D7D7D;
  margin-bottom: 8px;
}
.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}
@media (max-width: 780px) {
  .search__form {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .search__form {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.search__input {
  width: 594px;
}
.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
@media (max-width: 780px) {
  .search__input {
    width: 100%;
  }
}
.search__btn {
  margin-left: 20px;
}
@media (max-width: 780px) {
  .search__btn {
    margin-left: 10px;
  }
}
@media (max-width: 575.98px) {
  .search__btn {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}
.search .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 10px;
}
@media (max-width: 1100px) {
  .search .cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.search .card {
  padding: 18px 20px;
  border: 1px solid var(--grey-200);
  border-radius: 8px;
  background-color: var(--base-white);
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
@media (max-width: 575.98px) {
  .search .card {
    padding: 15px 16px;
  }
}
.search .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 575.98px) {
  .search .card a {
    font-size: 15px;
  }
}
.search .card a p {
  color: var(--base-black);
  text-decoration: underline;
  display: block;
  display: -webkit-box;
  max-width: 650px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
@media (max-width: 1100px) {
  .search .card a p {
    max-width: 900px;
  }
}
@media (max-width: 575.98px) {
  .search .card a p {
    max-width: 100%;
    -webkit-line-clamp: 20;
    overflow: visible;
  }
}
.search .card a i {
  font-size: 24px;
  text-decoration: none !important;
  color: var(--grey-500);
  margin-left: 20px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.search .card a i:hover {
  color: var(--base-grey);
}
.search .card:hover {
  background-color: var(--grey-200);
}

.empty {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--base-black);
}
@media (max-width: 991.98px) {
  .empty {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .empty {
    font-size: 16px;
  }
}
@media (max-width: 575.98px) {
  .empty {
    font-size: 15px;
  }
}

span.deleteicon {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 780px) {
  span.deleteicon {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}
@media (max-width: 575.98px) {
  span.deleteicon {
    width: 100%;
  }
}

span.deleteicon i {
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: var(--grey-400);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: visibility 0.3s ease-in, opacity 0.3s ease-in;
  transition: visibility 0.3s ease-in, opacity 0.3s ease-in;
}

span.deleteicon input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

span.deleteicon input:focus-visible + i {
  visibility: visible;
  opacity: 1;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
span.deleteicon input:focus-visible + i:hover {
  color: var(--base-black);
}

.documents {
  padding-bottom: 72px;
}
@media (max-width: 1024px) {
  .documents {
    padding-bottom: 52px;
  }
}
.documents .empty {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--base-black);
}
.documents .tabs {
  margin-bottom: 70px;
}
.documents .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.documents .tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.documents .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 10px;
}
@media (max-width: 1100px) {
  .documents .cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.documents .card {
  padding: 18px 20px;
  border: 1px solid var(--grey-200);
  border-radius: 8px;
  background-color: var(--base-white);
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.documents .card:nth-child(n+13) {
  display: none;
}
@media (max-width: 575.98px) {
  .documents .card {
    padding: 15px 16px;
  }
}
.documents .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 575.98px) {
  .documents .card a {
    font-size: 15px;
  }
}
.documents .card a p {
  color: var(--base-black);
  text-decoration: underline;
  display: block;
  display: -webkit-box;
  max-width: 650px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
@media (max-width: 1100px) {
  .documents .card a p {
    max-width: 900px;
  }
}
@media (max-width: 575.98px) {
  .documents .card a p {
    max-width: 100%;
    -webkit-line-clamp: 20;
    overflow: visible;
  }
}
.documents .card a i {
  font-size: 24px;
  text-decoration: none !important;
  color: var(--grey-500);
  margin-left: 20px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.documents .card a i:hover {
  color: var(--base-grey);
}
.documents .card:hover {
  background-color: var(--grey-200);
}
.documents .disabled {
  pointer-events: none;
  color: var(--grey-200);
}
.documents .disabled:hover {
  color: var(--grey-200);
}
.documents .disabled:hover i {
  color: var(--grey-200);
}

.sort {
  margin-top: 15px;
}
.sort__list {
  position: relative;
}
.sort__btn {
  border: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--base-grey);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.sort__btn i {
  font-size: 24px;
  margin-left: 20px;
  -webkit-transition: color 0.3s ease-in, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, color 0.3s ease-in;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in, -webkit-transform 0.3s ease-in-out;
}
.sort__btn:hover {
  color: var(--cyan-400);
}
.sort__btn:hover i {
  color: var(--cyan-400);
}
.sort .dropdown {
  position: absolute;
  width: 320px;
  right: 0;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 24px 24px -16px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 24px 24px -16px rgba(0, 0, 0, 0.2);
  background-color: var(--base-white);
  z-index: 1002;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.sort .dropdown--active {
  opacity: 1;
  visibility: visible;
}
.sort .dropdown__content {
  max-width: 100%;
  margin: 0 auto;
}
.sort .dropdown__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.sort .dropdown__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}
.sort .dropdown__btn:hover {
  text-decoration: underline;
}

.search__form--fluid {
  position: relative;
  margin-bottom: 20px;
}
.search__form--fluid::before {
  position: absolute;
  content: "\e95c";
  font-family: icons;
  width: 20px;
  height: 20px;
  left: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  color: #99A2AD;
  z-index: 50;
}
.search__form--fluid .search__input {
  padding: 18px 40px 18px 40px;
}

.tabs__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--grey-200);
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}
.tabs__nav-item:not(:last-child) {
  margin-right: 24px;
}
@media (max-width: 575.98px) {
  .tabs__nav-item:not(:last-child) {
    margin-right: 16px;
  }
}
.tabs__nav-btn {
  padding: 16px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #7D7D7D;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  -webkit-transition: color 0.5s ease, border-bottom 0.5s ease;
  -o-transition: color 0.5s ease, border-bottom 0.5s ease;
  transition: color 0.5s ease, border-bottom 0.5s ease;
}
.tabs__nav-btn:hover {
  color: var(--cyan-400);
}
.tabs__panel {
  display: none;
}
.tabs__panel--active {
  display: block;
}
.tabs__nav-btn--active {
  color: var(--base-grey);
  border-bottom: 2px solid var(--cyan-400);
}
.tabs__nav-btn--active:hover {
  color: var(--base-grey);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
}
.pagination li:not(:last-child) {
  margin-right: 4px;
}
.pagination a {
  padding: 9px 12px;
  min-width: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #2E2E2E;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.pagination a:hover {
  background-color: var(--cyan-200);
}
.pagination a:active {
  background-color: var(--cyan-400);
}
.pagination .active {
  color: var(--base-black);
  background-color: var(--cyan-400);
}
.pagination .arrow {
  border-radius: 0;
  font-size: 18px;
  line-height: 32px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.pagination .arrow:hover {
  background-color: transparent;
  color: var(--cyan-400);
}
/*# sourceMappingURL=main.css.map */